
* {
	margin: 0;
	padding: 0;
}

.site {
    background-color: white;
	width: 800px;
	margin-top: 1em;
	margin-bottom: 5em;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid;
}

html, body {
	height: 100%;
}

body {
	background-color: #282828;
	font: 15px georgia, serif;
	*font-size: small;
	text-align: center;
}

table {
	font-size: inherit;
	font: 100%;
}

.title {
	font-weight: bold;
	margin-bottom: 2em;
}

.site .footer {
	font-size: 80%;
	border-top: 4px solid black;
	margin-top: 2em;
	overflow: hidden;
}

.site .footer .contact {
	float: left;
	margin-left: 3em;
	margin-right: 3em;
}

.site .footer .contact a,
.site .footer .rss a {
	color: black;
}

.post_content {
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
    text-align: left;
}

.post_content ul {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.post_content p {
    margin-top: 1em;
    margin-bottom: 1em;
}

