
* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: white;
	font: 13.34px helvetica, arial, clean, sans-serif;
	*font-size: small;
	text-align: center;
}

table {
	font-size: inherit;
	font: 100%;
}

.title {
	font-weight: bold;
	margin-bottom: 2em;
}

.site .footer {
	font-size: 80%;
	border-top: 4px solid black;
	margin-top: 2em;
	overflow: hidden;
}

.site .footer .contact {
	float: left;
	margin-right: 3em;
}

.site .footer .contact a,
.site .footer .rss a {
	color: black;
}

.post_content {
    margin-top: 4em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
    text-align: left;
}
